body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: gray;
}

.container {
    display: flex;
}

canvas, video {
    width: 30%;
    height: 30%;
    margin-left: 12.5%;
}

canvas {
    margin-right: 5%; 
}