body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: gray;
}

.container {
    display: flex;
}

canvas, video {
    margin-left: 5%; 
    width: 40%;
    height: 40%;
}

canvas {
    margin-right: 5%; 
}